<%- include('partials/header'); %>


    <article class="article-post">

        <div class="article-content">
            <header class="article-header">
                <h2 class="article-title"><%=article.title%></h2>
                <p class="article-info">
                    <%=article.created_at.toDateString()%>

                    <% for (const country of article.countries) { %>
                    <a href="/countries/<%=country.id%>/articles"> <%=country.name%></a>
                    <% } %>
                </p>
            </header>
            <figure class="article-img">
                <img class="article-image" src="<%=article.image_path%>" alt="image for '<%=article.title%>' article" >
            </figure>
            <main class="article-description">
                <div class="article-text">
                    <!-- <%=article.text.split('\n\n')%> -->
                    <% for (const paragraph of article.text.split('\n\n')) { %>
                        <p><%=paragraph%></p>
                    <% } %> 
                </div>
            </main>
        </div>

    </article>





<%- include('partials/footer'); %>