<%- include('partials/header'); %>

<main class="delete-container">
    <% for (const article of articles) { %>

    <section class="article-container-delete">
        <div class="article-info">
            <p class="article_title"><%= article.title %>
                <br>
                <span class="article_date"><em><%= article.created_at.toDateString() %></em></span>
            </p>
        </div>

        <div class="trash-icon">
            <a href="/articles/delete/<%=article.id%>">
                <i class="fas fa-trash fa-2x"></i>
            </a>
        </div>

    </section>

    <% } %>

</main>



<%- include('partials/footer'); %>