<%- include('partials/header'); %>

<div class="country-content">

    <div class="header-country">
        <p><%=country.name%></p>
    </div>


    <% for (const article of country.articles) { %>
    <div class="country-article-container"></div>
    <article class="article_container">

        <img src="<%=article.image_path%>" alt="">

        <p class="article_title"><%= article.title %>
            <br>
            <span class="article_date"><em><%= article.created_at.toDateString() %></em></span>
        </p>

        <a href="/articles/<%=article.id%>">
            Read More
        </a>
    </article>
</div>
<% } %>


</div>


<%- include('partials/footer'); %>