<%- include('partials/header'); %>

<div class="header-country">
    <h2><%=country.name%></h2>
</div>


<div class="main_articles_container">
    <% for (const article of country.articles) { %>

    <div class="article_container">
        <a href="/articles/<%=article.id%>">
            <p class="article_title"><%= article.title %>
                <strong class="article_date">Published on: <%= article.created_at.toDateString() %></strong>
            </p>
        </a>

    </div>

    <% } %>

</div>


<%- include('partials/footer'); %>