<%- include('partials/header'); %>

<div class="country-content">

    <div class="header-country">
        <p><%=country.name%></p>
    </div>

    <% if (country.articles && country.articles.length) { %>
        <div class="country-article-container">

            <% for (const article of country.articles) { %>

                <article class="article_container">

                    <img src="<%=article.image_path%>" alt="">

                    <p class="article_title"><%= article.title %>
                        <br>
                        <span class="article_date"><em><%= article.created_at.toDateString() %></em></span>
                    </p>

                    <a href="/articles/<%=article.id%>">
                        Read More
                    </a>
                </article>

            <% } %>
        </div>
    <% } else { %>
        <p class="no-articles">There are no articles available</p>
    <% } %>
</div>


<%- include('partials/footer'); %>